#root {
  width: 100%;
  height: 100vh;
}

.main-page {
  padding: 24px;
}

.main-page .card-item {
  background-color: #34393d;
  padding: 12px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 300px;
}

.main-page .card-item .product-image {
  min-height: 140px;
  background-color: #3a3f47;
  margin: -12px -12px 8px -12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-page .card-item .category {
  font-size: 11px;
  color: #9a9ea1;
  border: 1px solid #4c5053;
  border-radius: 4px;
  padding: 2px 4px;
  width: fit-content;
  height: fit-content;
}

.main-page .card-item .price {
  font-size: 16px;
  font-weight: 600;
  text-wrap-mode: nowrap;
}

.main-page .card-item .rating-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.main-page .card-item .rating-wrapper .rating {
  font-size: 16px;
  font-weight: 600;
  color: #9a9ea1;
}

.main-page .main-layout {
  display: flex;
  gap: 24px;
}

.main-page .main-layout .left-section {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.main-page .main-layout .right-section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.login-page {
  padding: 24px;
  max-width: 280px;
}

.text-subheader {
  font-size: 16px;
}
.text-body {
  font-size: 14px;
}

.font-weight-bold {
  font-weight: 700;
}
.font-weight-semibold {
  font-weight: 600;
}
.font-weight-medium {
  font-weight: 500;
}

.text-primary {
  color: #ffffff
}
.text-secondary {
  color: #9a9ea1
}
